*.iml
.gradle
#Java class
*.class

#Genarated files
bin/
gen/
out/
.DS_Store

proguard/

# Intellij
*.iml
.idea
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

*.log
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/dev/release/
/.idea/
/app/production/release/
/app/stg/debug/
/app/stg/release/
/config/
/app/dev/java/google-service.json
/app/stg/java/google-service.json
/app/production/java/google-service.json
