*.iml
.gradle
#Java class
*.class

#Genarated files
bin/
gen/
out/
.DS_Store

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.log
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/dev/release/
