<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.castcle.android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_PROFILES"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name="com.castcle.CastcleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Castcle"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme,android:label,android:icon,android:roundIcon,android:allowBackup"
        tools:targetApi="r">

        <activity
            android:name="com.castcle.ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Castcle.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.castcle.ui.onboard.OnBoardActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deep_link_host"
                    android:pathPrefix="@string/deep_link_path_prefix"
                    android:scheme="@string/link_scheme" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPrefix="@string/deep_link_path_prefix_feed"
                    android:scheme="@string/deep_link_scheme_castcle" />

                <data
                    android:pathPrefix="@string/deep_link_path_prefix_verify_email"
                    android:scheme="@string/deep_link_scheme_castcle" />

                <data
                    android:pathPrefix="@string/deep_link_path_prefix_resent_verify_email"
                    android:scheme="@string/deep_link_scheme_castcle" />

                <data
                    android:pathPrefix="@string/deep_link_path_prefix_about_you"
                    android:scheme="@string/deep_link_scheme_castcle" />

                <data
                    android:pathPrefix="@string/deep_link_path_prefix_recast_dialog"
                    android:scheme="@string/deep_link_scheme_castcle" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />

        <service
            android:name="com.castcle.service.CastcleFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_castcle_noti" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>
